.carousel {
    position: relative;
    height: 400px;
    width: 750px;
  }
  
  .slides {
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .slide {
    position: absolute;
    /* top: 0;
    left: 0; */
    height: 100%;
    width: 900px;
    font-size: 54px;
    color: white;
    /* line-height: 400px; */
    text-align: center;
    padding-top: 250px;
    opacity: 0;
    transition: opacity 1000ms;
  }
  
  .slide:nth-child(1) {
      background-image: url("assets/image 1");
      opacity: 1;
  }
  
  .slide:nth-child(2) {
      background-image: url("assets/background2.jpeg");
  }
  
  .slide:nth-child(3) {
      background-image: url("assets/background3.jpeg");
  }
  .slide:nth-child(4) {
    background-image: url("assets/background1.jpeg");
    opacity: 1;
}

.slide:nth-child(5) {
    background-image: url("assets/background2.jpeg");
}

.slide:nth-child(6) {
    background-image: url("assets/background3.jpeg");
}
  .slide[data-state=active] {
    display: block;
  }
  
  .indicators {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  .indicator {
      cursor: pointer;
  }